body {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

#page {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  justify-self: center;
}

#title {
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

#column {
  display: flex;
  justify-content: space-around;
}

#left {
  display: flex;
  flex-direction: column;
}

#img {
  display: flex;
  border: black solid 2px;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

img {
  height: 75%;
  width: 75%;
}

#name {
  border: black solid 1px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-color: whitesmoke;
}

#type-text {
  font-weight: bold;
  font-size: 17px;
  padding: 0px;
}

.type-box {
  border: black solid 1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 37%;
  font-size: 12px;
}

#type-list {
  display: flex;
  gap: 5px;
}

.button {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin: 5px;
  font-size: 15px;
}

#info {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 80px;
  margin: 5px;
  font-size: 15px;
  background-color: lightgreen;
}

#move {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

#info_heading {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

#info_box {
  height: 300px;
  width: 225px;
  background-color: whitesmoke;
  padding-top: 15px;
}

.info_text {
  padding: 0px 15px 0px 15px;
  margin: 0px;
  font-size: 18px;
}

#change {
  display: flex;
}

.normal {
  background-color: #a8a77a;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.electric {
  background-color: #f7d02c;
}

.grass {
  background-color: #7ac74c;
}

.ice {
  background-color: #96d9d6;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.flying {
  background-color: #a98ff3;
}

.psychic {
  background-color: #f95587;
}

.bug {
  background-color: #a6b91a;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

.fighting {
  background-color: #C22E28
}
